@import "../../mediaQuery.scss";
.LoginPage {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background: #3a7bd5; /* fallback for old browsers */
  background: linear-gradient(
    to right,
    #3a6073,
    #3a7bd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  > .LoginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    @include media-breakpoint-down($sm){
      width: 90vw;
    }
    height: max-content;
    padding: 1.5em;
    margin: 4em auto 0 auto;
    border: 1px solid hsla(0, 0%, 70%, 0.8);
    border-radius: 5px;
    font-family: 'Inter', 'Roboto', sans-serif;
    font-size: var(--phDuylib-font-size-med);
    background-color: white;
    color: var(--phDuylib-text-color);
    caret-color: transparent;


    > .LoginForm__Title {
      margin-bottom: 1.5em;
      font-size: 1.5em;
      font-weight: 600;
      align-self: center;
    }
    .TextField {
      margin-bottom: 1.5em;
      width: 100%;
      .TextField__Label {
        margin-bottom: 0.5em;
        font-weight: 500;
      }
      .TextField__HelperText {
        margin-top: 0.5em;
        font-size: 0.8em;
      }

      .TextField__InputField {
        border-top: none;
        border-right: none;
        border-left: none;
        border-radius: unset;

        > .TextField__Input {
          font-size: 1.2em;
          caret-color: auto;
        }

        &:focus-within,
        &:focus-visible {
          outline: none;
          border-color: hsla(220, 80%, 50%, 0.9);
          border-width: 2px;
          box-shadow: unset;
        }
      }

      &.error {
        .TextField__InputField {
          &:focus-within,
          &:focus-visible {
            border-color: hsla(0, 80%, 50%, 0.9);
          }
        }
      }
    }

    > .LoginForm__ConnectionErrorMessage {
      color: hsla(0, 80%, 50%, 0.9);
      font-size: 1rem;
    }

    > .LoginForm__Control {
      margin-top: 1.5rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      > .LoginForm__SignInButton {
        margin: 0 auto;
        width: 80%;
      }
      > .LoginForm__SignUpMessage {
        margin-top: 2rem;
        margin-bottom: 1rem;
        align-self: center;
        text-align: center;
        > a {
          cursor: pointer;
          color: hsla(220, 80%, 60%);
          &:hover {
            color: hsla(220, 80%, 40%);
          }
        }
      }
    }
  }
}
