.AddCategoryModal {
  > .Modal__Dialog {
    padding: 1em;
    width: 29em;
    background-color: white;
    font-family: var(--phDuylib-font-family);
    caret-color: transparent;
    font-size: var(--phDuylib-font-size-med);
    > .AddCategoryModal__Header {
      display: flex;
      align-items: center;
      > .AddCategoryModal__Title {
        font-size: 1.3em;
      }
      > .AddCategoryModal__CloseButton {
        margin-left: auto;
        transform: translate(0.5em);
      }
    }
    > .AddCategoryModal__Body {
      display: flex;
      flex-direction: column;
      > .TextField {
        width: 90%;
        margin: 0 auto 0.5em auto;
        caret-color: auto;
      }

      label {
        margin-bottom: 0.5em;
        margin-left: 0.5rem;
        display: block;
        font-size: 1rem;
      }

      > .AddCategoryModal__ColorPicker {
        width: 90%;
        margin: 0 auto 0.5em auto;
        > input {
          width: 100%;
          background-color: white;
          border: 1px solid hsl(0, 0%, 70%);
          height: 3em;
          padding: 0.2rem 0.4rem;
          border-radius: 5px;
        }
      }

      > .AddCategoryModal__Description {
        width: 90%;
        margin: 0 auto 0.5em auto;
        > .AddCategoryModal__TextArea {
          padding: 0.5em;
          text-indent: 0.5em;
          width: 100%;
          color: inherit;
          font-family: inherit;
          height: 8rem;
          font-size: 1em;
          border: 1px solid hsl(0, 0%, 70%);
          caret-color: auto;
          border-radius: 5px;

          &:focus-visible {
            outline: none;
            box-shadow: 0 0 2px 2px hsla(220, 80%, 50%, 0.8);
          }
        }
      }
    }
    >.AddCategoryModal__Footer{
      margin-top: 1em;
      display: flex;
      >.AddCategoryModal__SubmitButton{
        margin-left:auto;
        margin-right: 1.5em;
      }

    }
  }
}
