@import '../utils.scss';

.MonthSchedule {
  width: calc(90px + 55vw);
  min-width: 350px;
  max-width: 750px;
  height: 700px;
  border-collapse: collapse;
  border: var(--phDuylib-border);
  table-layout: fixed;
  caret-color: transparent;
  > thead {
    th {
      height: 2.8em;
      text-align: center;
      border:var(--phDuylib-border);
      font-size: var(--phDuylib-font-size-big);
      user-select: none;
    }
  }
  > tbody {
    td {
      vertical-align: top;
      padding: 0.5em;
      border: var(--phDuylib-border);
      > .TableDateCell__Container {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        > .TableDateCell__DateNumber {
          user-select: none;
          cursor: pointer;
          margin-bottom: 0.25rem;
          font-size: var(--phDuylib-font-size-sml);
        }
        > .TableDateCell__TasksLines {
          position: relative;
          width: 100%;
          min-height: calc(2 * 2em);
          caret-color: transparent;
          > .TableDateCell__TaskLine {
            position: absolute;
            display: flex;
            align-items: center;
            height: 2em;
            border-radius: 5px;
            background-color: hsla(220, 80%, 80%, 0.5);
            font-size:  var(--phDuylib-font-size-sml);
            text-indent: 10px;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            z-index: 2;
          }
        }
        > .TableDateCell__TasksExpandButton {
          @include centerElement();
          padding: 0.3em 0.6em;
          border: var(--phDuylib-border);
          border-radius: 5px;
          margin-top: auto;
          cursor: pointer;
          font-size: var(--phDuylib-font-size-sml);
          user-select: none;
          &:hover {
            background-color: var(--phDuylib-primary-color-hover);
          }
        }
      }
      &:not(.is-day-within-month) {
        .TableCell__DateNumber {
          color: hsl(0, 0%, 70%);
        }
      }
    }
  }
}
