.SignOutModal {
  > .Modal__Dialog {
    display: flex;
    flex-direction: column;
    caret-color: transparent;
    width: 30em;
    padding: 1em;
    background-color: white;
    font-size: var(--phDuylib-font-size-med);
    font-family: "Inter",sans-serif;
    min-width: unset;
    > .Modal__Header {
      display: flex;
      padding: 0.5em 0;
      align-items: center;
      font-weight: 600;
      font-size: var(--phDuylib-font-size-big);
      >.SignOutModal__CloseIcon {
        margin-left: auto;
      }
    }
    > .Modal__Body {
      > .SignOutModal__Message {
        margin: 1em 0;
        line-height: 1.1;
      }
    }
    > .Modal__Footer {
      display: flex;
      
      > .SignOutModal__SubmitButton {
        margin-left: auto;
        margin-right: 1rem;
      
      }
    }
  }
}
