@import '../_sharedStyle.scss';
@import '../_utils.scss';

@at-root .Popover.TaskListPopover {
  > .TaskListPopover__Container {
    display: flex;
    flex-direction: column;
    width: 12em;
    border-radius: 5px;
    background-color: white;
    color: var(--phDuylib-text-color);
    font-family: "inter",sans-serif;
    overflow: hidden;

    > .TaskListPopover__Header {
      display: flex;
      padding: 0.25em 0.5em;
      font-size: var(--phDuylib-font-size-big);
      background-color: var(--phDuylib-primary-color-hover);
      align-items: center;

      > .TaskListPopover__CloseIcon {
        margin-left: auto;
      }
    }
    > .TaskListPopover__Lists {
      display: flex;
      flex-direction: column;
      height: 100%;
      max-height: 10em;
      padding: 0.5em;
      overflow-y: auto;
      > .TaskListPopover__TaskData {
        flex-shrink: 0;
        height: max-content;
        padding: 0.5em 0;
        padding-left: 0.8em;
        border-radius: 5px;
        margin-bottom: 0.7rem;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: hsla(220, 80%, 80%, 0.5);
        user-select: none;
        cursor: pointer;
        &:last-child {
          margin-bottom: none;
        }
      }
    }
  }
}
