@import "../../mediaQuery.scss";
.SignUpPage {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background: #3a7bd5; /* fallback for old browsers */
  background: linear-gradient(to right, #3a6073, #3a7bd5);
  font-family: 'Inter', sans-serif;
  color: hsl(0, 0%, 20%);
  caret-color: transparent;
  > .SignUpForm {
    display: flex;
    flex-direction: column;
    width: 450px;
    @include media-breakpoint-down($sm) {
      width: 90vw;
    }
    height: max-content;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    margin: 50px auto 0 auto;
    background-color: white;

    > .SignUpForm__Title {
      align-self: center;
      margin-bottom: 1.5em;
      font-size: 1.6em;
      font-weight: 600;
    }
    > .SignUpForm__Input {
      width: 90%;
      margin: 0 auto 0.75em auto;

      .TextField__Label {
        margin-bottom: 0.5em;
        font-weight: 500;
      }
      .TextField__HelperText {
        margin-top: 0.75em;
        font-size: 0.8rem;
      }

      .TextField__InputField {
        border-top: none;
        border-right: none;
        border-left: none;
        border-radius: unset;

        > .TextField__Input {
          font-size: 1.2em;
          caret-color: auto;
        }

        &:focus-within,
        &:focus-visible {
          outline: none;
          border-color: hsla(220, 80%, 50%, 0.9);
          border-width: 2px;
          box-shadow: none;
        }
      }
      &.error {
        .TextField__InputField {
          &:focus-within,
          &:focus-visible {
            border-color: hsla(0, 80%, 50%, 0.9);
            border-width: 2px;
            box-shadow: none;
          }
        }
      }
    }
    > .SignUpForm__ConnectionErrorMessage {
      color: hsla(0, 80%, 50%, 0.9);
      font-size: 0.85em;
    }

    > .SignUpForm__ButtonBox {
      margin: 1rem auto 0 auto;
      width: 90%;
      display: flex;

      > .SignUpForm__SubmitButton {
        margin-left: auto;
      }

      > .SignUpForm__ClearButton {
        margin-left: 1rem;
      }
    }
  }
}
