@import "../sharedStyle";
@import '../_utils.scss';

$indicator-cell-width: clamp(25px,calc(25px + 2vw),50px);

.WeekSchedule {
  width: calc(100px + 55vw);
  min-width: 350px;
  max-width: 750px;
  height: 650px;
  border: $border;
  color: $text-color;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  @at-root .WeekSchedule__Container {
    width: 100%;
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    @at-root .WeekSchedule__Header {
      position: sticky;
      top: 0;
      z-index: 2;
      background-color: white;
      height: auto;
      display: flex;
      flex-direction: column;

      @at-root .WeekSchedule__DateDisplayRow {
        display: flex;
        width: 100%;
        height: 50px;
        border-bottom: $border;
        > .WeekSchedule__DateDisplayRow__DummyCell {
          flex-shrink: 0;
          width: $indicator-cell-width;
          height: 100%;
        }
        > .WeekSchedule__DateDisplayRow__Text {
          width: calc(100% / 7);
          font-size: $font-size-b;
          @include centerElement();
          text-align: center;
          writing-mode: horizontal-tb;
        }
      }
      @at-root .WeekSchedule__WeekOverViewRow {
        display: flex;
        width: 100%;
        height: 130px;
        border-bottom: $border;

        > .WeekSchedule__WeekOverViewRow__TextIndicator {
          @include centerElement();
          width: $indicator-cell-width;
          height: 100%;
          font-size: $font-size-s;
          text-align: center;
          flex-shrink: 0;
          border-right: $border;
        }
        @at-root .WeekSchedule__WeekOverViewRow__TaskTimeLine {
          display: flex;
          flex-grow: 1;
          position: relative;

          @at-root .WeekSchedule__WeekOverViewRow__TimeFrame {
            position: relative;
            width: calc(100% / 7);
            height: 100%;
            display: flex;
            word-wrap: normal;
            border-right: $border;
            &:last-child {
              border-right: none;
            }

            @at-root .WeekSchedule__TimeFrame__TaskBlock {
              position: absolute;
              background-color: hsla(220, 80%, 80%, 0.5);
              border-radius: 5px;
              display: flex;
              align-items: center;
              font-size: $font-size-s;
              text-indent: 0.5em;
              cursor: pointer;
            }
            @at-root .WeekSchedule__TimeFrame__TaskExpandButton {
              margin-top: auto;
              font-size: $font-size-s;
              color: inherit;
              overflow-x: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              font-family: inherit;
              border-radius: 5px;
              margin-bottom: 0.5em;
              margin-left: auto;
              margin-right: auto;
              width: 80%;
              border: $border;

              &:hover {
                background-color: hsla(0, 0%, 80%, 0.8);
              }
            }
          }
        }
      }
    }

    @at-root .WeekSchedule__TimeLineBox {
      display: flex;
      height: 450%;
      flex-shrink: 0;
      background-color: white;
      @at-root .WeekSchedule__TimeIndicatorBox {
        width: $indicator-cell-width;
        height: 100%;
        border-right: $border;
        font-size:  $font-size-s;
        flex-shrink: 0;
        > .WeekSchedule__TimeIndicator {
          @include centerElement();
          height: calc(100% / 24);
          border-bottom: $border;
        }
      }

      > .WeekSchedule__WeekDayTimeLine {
        position: relative;
        display: flex;
        flex-direction: column;
        width: calc(100% / 7);
        height: 100%;
        border-right: $border;
        background-color: hsla(0, 0%, 95%, 0.5);
        &:last-child {
          border-right: none;
        }
        @at-root .WeekSchedule__WeekDayTimeLine__TaskTimeLine {
          position: absolute;
          background-color: hsla(220, 80%, 80%, 0.5);
          padding: 0.25rem;
          cursor: pointer;
          > .WeekDayTimeLine__TaskTitle {
            margin: 0;
            position: sticky;
            top: 10px;
            line-height: normal;
            font-size: $font-size-s;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow-x: hidden;
          }
        }

        > .WeekSchedule__TimeFrame {
          width: 100%;
          height: calc(100% / 24);
          border-bottom: $border;
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}
