@import '../sharedStyle';
@import '../_utils.scss';

$indicator-cell-width: clamp(25px, calc(25px + 2vw), 50px);

.WeekSchedule {
  width: calc(100px + 55vw);
  min-width: 350px;
  max-width: 750px;
  height: 650px;
  border: var(--phDuylib-border);
  // font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
  @at-root .WeekSchedule__Container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    @at-root .WeekSchedule__Header {
      position: sticky;
      top: 0;
      display: flex;
      flex-direction: column;
      height: auto;
      z-index: 2;
      background-color: white;

      @at-root .WeekSchedule__DateDisplayRow {
        display: flex;
        width: 100%;
        font-size: var(--phDuylib-font-size-big);
        height: 2.8em;
        border-bottom: var(--phDuylib-border);
        > .WeekSchedule__DateDisplayRow__DummyCell {
          flex-shrink: 0;
          width: $indicator-cell-width;
          height: 100%;
        }
        > .WeekSchedule__DateDisplayRow__Text {
          width: calc(100% / 7);
          @include centerElement();
          text-align: center;
          writing-mode: horizontal-tb;
        }
      }
      @at-root .WeekSchedule__WeekOverViewRow {
        display: flex;
        width: 100%;
        height: 12em;
        border-bottom: var(--phDuylib-border);

        > .WeekSchedule__WeekOverViewRow__TextIndicator {
          @include centerElement();
          flex-shrink: 0;
          width: $indicator-cell-width;
          height: 100%;
          border-right: var(--phDuylib-border);
          font-size: var(--phDuylib-font-size-sml);
          text-align: center;
        }
        @at-root .WeekSchedule__WeekOverViewRow__TaskTimeLine {
          display: flex;
          flex-grow: 1;
          position: relative;

          @at-root .WeekSchedule__WeekOverViewRow__TimeFrame {
            position: relative;
            width: calc(100% / 7);
            height: 100%;
            display: flex;
            word-wrap: normal;
            border-right: var(--phDuylib-border);
            &:last-child {
              border-right: none;
            }

            @at-root .WeekSchedule__TimeFrame__TaskBlock {
              position: absolute;
              display: flex;
              align-items: center;
              border-radius: 5px;
              background-color: hsla(220, 80%, 80%, 0.5);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: var(--phDuylib-font-size-sml);
              text-indent: 0.5em;
              cursor: pointer;
              z-index: 2;
            }
            @at-root .WeekSchedule__TimeFrame__TaskExpandButton {
              width: 80%;
              padding: 0.3em 0.6em;
              margin-bottom: 0.5em;
              margin-left: auto;
              margin-right: auto;
              border: var(--phDuylib-border);
              border-radius: 5px;
              margin-top: auto;
              font-size: var(--phDuylib-font-size-sml);
              overflow-x: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              font-family: inherit;

              &:hover {
                background-color: hsla(0, 0%, 80%, 0.8);
              }
            }
          }
        }
      }
    }

    @at-root .WeekSchedule__TimeLineBox {
      display: flex;
      flex-shrink: 0;
      height: 450%;
      background-color: white;
      @at-root .WeekSchedule__TimeIndicatorBox {
        flex-shrink: 0;
        width: $indicator-cell-width;
        height: 100%;
        border-right: var(--phDuylib-border);
        font-size: var(--phDuylib-font-size-sml);

        > .WeekSchedule__TimeIndicator {
          @include centerElement();
          height: calc(100% / 24);
          border-bottom: var(--phDuylib-border);
        }
      }

      > .WeekSchedule__WeekDayTimeLine {
        position: relative;
        display: flex;
        flex-direction: column;
        width: calc(100% / 7);
        height: 100%;
        border-right: var(--phDuylib-border);
        background-color: hsla(0, 0%, 95%, 0.5);
        &:last-child {
          border-right: none;
        }
        @at-root .WeekSchedule__WeekDayTimeLine__TaskTimeLine {
          position: absolute;
          background-color: hsla(220, 80%, 80%, 0.5);
          padding: 0.25rem;
          cursor: pointer;
          > .WeekDayTimeLine__TaskTitle {
            position: sticky;
            top: 10px;
            line-height: normal;
            font-size: var(--phDuylib-font-size-sml);
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow-x: hidden;
          }
        }

        > .WeekSchedule__TimeFrame {
          width: 100%;
          height: calc(100% / 24);
          border-bottom: var(--phDuylib-border);
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}
