@import '../../../components/sharedStyle';
@import '../../../components/utils';

.CalendarApp {
  display: flex;
  width: 95%;
  padding: 0.5em;
  border-radius: 5px;
  margin: 1em auto;
  background-color: white;
  font-family: 'Inter', sans-serif;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  > .CalendarApp__SideBox {
    width: 280px;
    flex-shrink: 0;
    padding: 1em;
    display: flex;
    flex-direction: column;
    > .CalendarApp__AddButton {
      padding: 0.5em 1em;
      border-radius: 5px;
      margin-bottom: 40px;
    }

    .CalendarApp__BoxHeader {
      font-size: 1.2em;
      text-transform: uppercase;
      color: hsl(0, 0%, 60%);
      font-weight: 200;
      display: flex;
      align-items: center;
      > .CalendarApp__AddCategoryButton {
        margin-left: 0.5em;
      }
    }

    > .CalendarApp__CategoryFilterBox {
      > .CalendarApp__CategoriesList {
        margin-top: 1.5em;
        display: flex;
        flex-direction: column;

        > .CalendarApp__Category {
          margin-top: 1em;
          align-items: flex-end;

          > .CheckBox__Box {
            width: 1.1rem;
            height: 1.1rem;
          }

          &:first-child {
            margin-top: 0;
          }
        }
        > .CalendarApp__OverShowCategoryLimitSign {
          margin-top: 0.5em;
          margin-left: 2em;
          user-select: none;
          font-size: 1.2em;
          cursor: pointer;
          &:hover {
            color: hsl(210, 80%, 60%);
          }
        }
      }
    }
  }

  > .CalendarApp__Content {
    padding: 1em;
    flex-grow: 1;
    > .CalendarApp__Control {
      width: 100%;
      display: flex;
      margin-bottom: 1.5em;

      > .CalendarApp__NavigationButton {
        width: max-content;
        display: flex;
        > .CalendarApp__PreviousIcon {
          margin-right: 0.5em;
          .BackIcon {
            transform: translateX(0.2em);
          }
        }
      }

      > .CalendarApp__DateString {
        display: flex;
        align-items: center;
        margin: 0 auto;
        font-size: 1.5em;
        font-weight: 580;
        line-height: 1.1;
      }

      > .CalendarApp__ToggleGroup {
        width: max-content;
        margin-left: auto;
        border-radius: 5px;
        > .ToggleGroup__Item {
          padding: 0.5em 1em;
          &:not(.is-selected) {
            background-color: white;
          }
        }
      }
    }
    > .CalendarApp__View {
      > .CalendarApp__DaySchedule,
      > .CalendarApp__MonthSchedule,
      > .CalendarApp__WeekSchedule {
        width: 100%;
        max-width: unset;
        min-width: unset;
        height: 700px;
        font-family: 'Inter', sans-serif;
      }
    }
  }
}
