$gap-between-input: 0.5rem;
@import '../sharedStyle.scss';
@import '../utils.scss';
.TaskEditModal {
  > .Modal__Dialog {
    width: 30em;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    min-width: unset;
    background-color: white;
    padding: 1em 0.5em;
    font-family: 'Inter', sans-serif;

    > .TaskEditModal__Header {
      position: relative;
      align-items: center;
      margin-bottom: 1em;
      display: flex;

      > .TaskEditModal__Title {
        font-size: 1.5rem;
        font-weight: 560;
        text-align: center;

        user-select: none;
        margin-left: 1.5rem;
      }
      .TaskEditModal__HeaderControl {
        margin-left: auto;
        margin-right: 1rem;
        display: flex;
      }

      .TaskEditModal__DeleteTaskButton {
        margin-right: 0.5rem;
      }
    }
    > .TaskEditModal__Body {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      > .TaskEditModal__SuccessIcon,
      > .TaskEditModal__Spinner,
      > .TaskEditModal__ErrorIcon {
        width: 5rem;
        height: 5rem;
        margin: auto;

        > svg {
          width: 100%;
          height: 100%;
        }
      }

      > .TaskEditModal__SuccessIcon {
        color: var(--phDuylib-success-color);
      }
      > .TaskEditModal__ErrorIcon {
        color: var(--phDuylib-error-color);
      }

      @at-root .TaskEditModal__Message {
        margin: 0.5em auto;
        font-weight: 580;
        
        &.--Loading {
          color: var(--phDuylib-primary-color);
        }
        &.--Success {
          color: var(--phDuylib-success-color);
        }
        &.--Error {
          color: var(--phDuylib-error-color);
        }
      }

      > .TextField,
      > .Select {
        width: 90%;
        margin: 0 auto 1.5em auto;
      }
      > .TaskEditModal__DateTimeRange {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        > .DateTimeRangePicker__Input {
          margin-bottom: 1.5em;
          width: 100%;
        }
      }
    }
    > .TaskEditModal__Footer {
      width: 95%;
      margin: 0.25rem auto;
      display: flex;

      > .TaskEditModal__SubmitButton {
        margin-left: auto;
        margin-right: 1rem;
      }
      > .TaskEditModal__ReturnButton {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
