@import "../_sharedStyle.scss";

.DaySchedule {
  width: 50%;
  height: 500px;
  border: 1px solid hsla(0, 0%, 50%, 0.7);
  border-radius: 5px;
  color: $text-color;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  > .DaySchedule__Container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow:auto;
    

    > .DaySchedule__TimeAxis {
      display: flex;
      position: sticky;
      top:0;
      flex-wrap: nowrap;
      height: 40px;
      width: 600%;
      z-index: 2;
     
      > .DaySchedule__TimeIndicator {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% / 24);
        border-bottom: $border;
        // border-right:$border;
        background-color: hsl(0, 0%, 100%);
        &:last-child {
          border-right:none;
        }
      }
    }
    > .DaySchedule__TimeLine {
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      width: 600%;
 
      > .DaySchedule__TimeFrame {
        width: calc(100% / 24);
        flex-grow: 1;
        flex-shrink: 1;
        height: inherit;
        background-color: hsla(0, 0%, 95%,0.5);
        border-right:1px dashed hsla(0, 0%, 70%, 0.7);
        &:last-child {
          border-right:none;
        }
      }
      >.DaySchedule__TaskBlock{
        position: absolute;
        background-color: hsla(220, 80%, 80%,0.5);
        display: flex;
        justify-content: first baseline;
        align-items: center;
        border-radius: 5px;
        padding: 0.5rem;
        user-select: none;
        cursor: pointer;

        >.DaySchedule__TaskBlock__title{
          margin-left: 0.5rem;
          position: sticky;
          left:0.5rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      >.DaySchedule__CurrentTimeIndicator{
        position: absolute;
        width: 1px;
        border-left: 1px dashed hsl(0,70%,50%);
        height: inherit;
        left:0;
        z-index: 1;
      }
    }


  }
}
