.DaySchedule {
  width: calc(90px + 55vw);
  min-width: 350px;
  max-width: 750px;
  height: 650px;
  border: var(--phDuylib-border);
  > .DaySchedule__Container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;

    > .DaySchedule__TimeAxis {
      position: sticky;
      top: 0;
      display: flex;
      flex-wrap: nowrap;
      height: 2.8em;
      width: 600%;
      z-index: 2;
      font-size: var(--phDuylib-font-size-big);

      > .DaySchedule__TimeIndicator {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% / 24);
        border-bottom: var(--phDuylib-border);
        // border-right:$border;
        background-color: hsl(0, 0%, 100%);
        &:last-child {
          border-right: none;
        }
      }
    }
    > .DaySchedule__TimeLine {
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      width: 600%;

      > .DaySchedule__TimeFrame {
        width: calc(100% / 24);
        flex-grow: 1;
        flex-shrink: 1;
        height: inherit;
        background-color: var(--phDuylib-secondary-color-hover);
        opacity: 0.8;
        border-right: 1px dashed var(--phDuylib-secondary-color-active);
        &:last-child {
          border-right: none;
        }
      }
      > .DaySchedule__TaskBlock {
        position: absolute;
        display: flex;
        justify-content: baseline;
        align-items: center;
        padding: 0.5em;
        border-radius: 5px;

        user-select: none;
        background-color: hsla(220, 80%, 80%, 0.5);
        cursor: pointer;
        line-height: 1.1;

        > .DaySchedule__TaskBlock__title {
          position: sticky;
          left: 0.5em;
          margin-left: 0.5em;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      > .DaySchedule__CurrentTimeIndicator {
        position: absolute;
        width: 1px;
        border-left: 1px dashed hsl(0, 70%, 50%);
        height: inherit;
        left: 0;
        z-index: 1;
      }
    }
  }
}
