@import '../../mediaQuery.scss';

.HomePage {
  display: flex;

  > .HomePage__SideBar {
    width: 3.8em;

    @include media-breakpoint-down($lg) {
      display: none;
    }

    > .SideBar__Container {
      background-color: white;
      border-color: white;
      box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.2);

      &:not(.expanded) {
        width: 3.8em;
        border-left: none;
        border-top: none;
        border-bottom: none;
        background-color: white;
      }

      .SideBar__Item {
        line-height: 1.2;
        &.selected {
          background: var(--phDuylib-primary-color);
        }
      }
    }
  }
  @at-root .HomePage__View {
    background-color: #f2f3f4;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    @at-root .HomePage__NavBar {
      position: sticky;
      top: 0;
      display: flex;
      align-items: center;
      z-index: 5;
      width: 100%;
      min-height: 3.7em;
      background: white;
      margin: 1em auto;
      padding: 0.5em;
      width: 95%;
      box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      @at-root .NavBar__MenuIconContainer {
        margin-left: 0.5em;
        display: none;
        @include media-breakpoint-down($lg) {
          display: inline-block;
        }
      }
      @at-root .NavBar__NotificationButton {
        margin-left: auto;
        margin-right: 0.5em;
        > .DropDown__Trigger {
          width: max-content;
          padding: 0;
          border: none;
          border-radius: 50%;
          svg {
            width: 1.8rem;
            height: 1.8rem;
          }
          box-shadow: none;
        }
      }
      @at-root .NavBar__UserImage {
        > .DropDown__Trigger {
          display: flex;
          justify-content: center;
          align-items: center;
          width: max-content;
          padding: 0;
          border: none;
          border-radius: 50%;
          > img {
            cursor: pointer;
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
          }
        }
      }
    }
  }
}

.ToolTips__Trigger.Menu__Tooltips {
  z-index: 100;
}
