.HomePage {
  display: flex;

  > .HomePage__SideBar {
      width: 3.8em;
  
    > .SideBar__Container {
      background-color: white;
      border-color: white;
   
  
      &:not(.expanded) {
        width: 3.8em;
        border-left: none;
        border-top: none;
        border-bottom: none;
        background-color: white;
      }

      &.expanded {
        box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.2);
      }

      .SideBar__Item {
        line-height: 1.1;
        &.selected {
          background: var(--phDuylib-primary-color);
        }
      }
    }
  }
  > .HomePage__View {
    background-color: hsla(0, 0%, 85%, 0.5);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    >.HomePage__HeaderBar {
      position:sticky;
      top:0;
      z-index: 5;
      width: 100%;
      height: 3.5rem;
      background: white;
      margin-bottom: 0.5rem;
      padding: 1rem;

    }
  }
}
